<div id="inserir">
    <h1>CADASTRO DE INSTRUMENTOS</h1>
    <hr>
    <form name="form1" action="controllerForm" method="post"> 
        <input type="hidden" name="id" id="id" placeholder="ID:"><br><br>
        <input type="text" name="tipo" id="tipo" placeholder="Tipo:"><br><br>
        <input type="text" name="marca" id="marca" placeholder="Marca:"><br><br>
        <input type="text" name="modelo" id="modelo" placeholder="Modelo:"><br><br>
        <input type="text" name="valor" id="valor" placeholder="Valor:"><br><br>
        <input type="submit" name="btnSubmit" id="btnSubmit" value="INSERIR">
        <input type="reset" id="btnReset" value="LIMPAR"><br>
    </form>
    <br>
    <a href="http://localhost:3000/">VOLTAR</a>
</div>